<div data-role="header">
    <h1>Gozintas</h1>
</div>
<div class = "page5 individuals_in_party">
    <label class = "input_text_label" for="total_individuals">The individual check for a party of</label>
    <input class = "input_text" id="individuals_in_party" type="number" step = "0.01" name="total_individuals" style = "width:97%;" disabled="">
</div>


<div class = "page5 food_total">
    <label class = "input_text_label" for="food_total">Food total</label>
    <input class="input_text" id="food_total" type="text"  pattern="[0-9]*" name="pre_tax_amount" style = "width:97%;" disabled="">
</div>

<div class = "page5 wine_total">
    <label class = "input_text_label" for="wine_total">Wine total</label>
    <input class="input_text" id="wine_total" type="text"  pattern="[0-9]*" name="pre_tax_amount" style = "width:97%;" disabled="">
</div>

<div class = "page5 carryout_total">
    <label class = "input_text_label" for="pre_tax_amount">Carryout total (0% tip rate)</label>
    <input class="input_text" id="carryout_total" type="text"  pattern="[0-9]*" name="pre_tax_amount" style = "width:97%;" disabled="">
</div>

<div class = "page5 tax_total">
    <label class = "input_text_label" for="total_tip">Tax</label>
    <input class="input_text" id="tax_total" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
</div>

<div class = "page5 determine_tip">
    <div class = "page5 total_tip">
        <label class = "input_text_label" for="total_tip">Tip</label>
        <input class="input_text" id="tip_total" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>

    <div class = "page5 total">
        <label class = "input_text_label" for="total">Total</label>
        <input class="input_text" id="total_individual" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>
</div>

<div class = "ui-grid-a">
    <div class = "page5 total_tip ui-block-a">
        <label class = "input_text_label" for="total_tip">Tip individual</label>
        <input class="input_text" id="tip_individual" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>

    <div class = "page5 total_tip ui-block-b">
        <label class = "input_text_label" for="total_tip">Tip total</label>
        <input class="input_text" id="tip_total" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>
</div>

<div class = "ui-grid-a">
    <div class = "page5 total_tip ui-block-a">
        <label class = "input_text_label" for="total_tip">Total Individual</label>
        <input class="input_text" id="total_individual" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>

    <div class = "page5 total_tip ui-block-b">
        <label class = "input_text_label" for="total_tip">Total for party</label>
        <input class="input_text" id="total" type="text"  pattern="[0-9]*" name="total_tip" style = "width:97%;" disabled="">
    </div>

</div>

