<div data-role="header">
    <h1>Gozintas</h1>
</div>
<div class ="menu">
    <div class = "question_input">
        <a href="#" data-role="button" onclick="addGroup()" data-inline="true" data-icon="plus">Add Group</a>
        <a href="#" data-role="button" onclick="removeGroup()" data-inline="true" data-icon="minus">Remove Group</a>
    </div>
    <div class="groups">
        <div data-role="collapsible" data-content-theme="c" id="group-1" data-theme="a" class="group-1 visible" data-routing="group.html">
            <h3>Group 1</h3>
        </div>
    </div>
    <div class="buttons">
        <a href="#page4" data-role="button">Next</a>
    </div>
</div>